* { box-sizing: border-box; }

.fl { float: left; }

.fr { float: right; }

.clearfix:before, .clearfix:after { display: table; content: ' '; }

.clearfix:after { clear: both; }

.chart-content { margin: 0.278rem 0 0; }
.chart-content .title .fl { font-size: 11px; color: #9F9F9F; margin-top: 0.107rem; margin-left: 0.267rem; }
.chart-content .title .fr a { display: inline-block; padding: 0.133rem 0.267rem; font-size: 11px; }
.chart-content .title .green a { color: #95CCC1; }
.chart-content .title .green a.select { background: #E7F8F2; color: #05BD75; border-radius: 5px; }
.chart-content .title .yellow a { color: #FFEBCE; }
.chart-content .title .yellow a.select { background: #FFEBCE; color: #FE9C05; border-radius: 5px; }
.chart-content .title .purple a { color: #D0BDFE; }
.chart-content .title .purple a.select { background: #F4F0FF; color: #9a6afc; border-radius: 5px; }
.chart-content .title .blue a { color: #95D1FC; }
.chart-content .title .blue a.select { background: #E6F3FC; color: #7EC4F8; border-radius: 5px; }

.chart-content .title .fr a:active, .chart-content .title .fr a:visited, .chart-content .title .fr a:active, .chart-content .title .fr a:focus { text-decoration: none; }

[data-dpr="2"] .chart-content .title .fl { font-size: 22px; }

[data-dpr="3"] .chart-content .title .fl { font-size: 33px; }

[data-dpr="2"] .chart-content .title .fr a { font-size: 22px; }

[data-dpr="3"] .chart-content .title .fr a { font-size: 33px; }

.nochart { text-align: center; margin-top: 0.4rem; }
.nochart img { width: 2.667rem; height: 2.667rem; }
.nochart p { color: #56A8E6; text-align: center; font-size: 14px; margin-top: 0.267rem; }

[data-dpr="2"] .nochart p { font-size: 28px; }

[data-dpr="3"] .nochart p { font-size: 42px; }

/* .highcharts-container {padding-top:0.4rem;} */
.mCSB_scrollTools.mCSB_scrollTools_horizontal { bottom: -7px !important; }
